.first {
    Color: Blue
    }

    .second {
        Color:red
        }

        .crimson {
            Color: black
            }

            .footnote {
                Color:#6600cc
                }
                .styleone {
                    padding-left: 5px;
                    padding-right: 5px;
                    padding-top: 5px;
                    border: 7px solid #FFCC00;
                    float: left;
                }
                
                .styletwo {
                    padding-left: 5px;
                    padding-right: 5px;
                    padding-top: 5px;
                    border: 7px solid #CC0000;
                    float: right;
                }
    
                .listone {
                    Color:#CC0000
                    
                }

                    .listwo {
                        Color:#336699
                        }
                        .absolutep {
                            position: absolute;
                            top:50px;
                            right:80px;
                            color: rgb(245, 97, 97);
                            }

                            .centertext {
                                text-align: center;
                                color: rgb(136, 10, 10);
                                }
                                .left {
                                    text-align: left;
                                    color: rgb(105, 34, 219);
                                    }
                                    .right {
                                        text-align: right;
                                        color: indigo;                          
                                        }
                                        .centrediv {
                                            display: block;
                                            margin: auto;
                                            width: 550px;                          
                                            }
