.first {
    Color: Blue
    }

    .second {
        Color:red
        }

        .crimson {
            Color: black
            }

            .footnote {
                Color: green
                }
