.first {
    Color: Blue
    }

    .second {
        Color:red
        }

        .crimson {
            Color: black
            }

            .footnote {
                Color:#6600cc
                }
                .styleone {
                    padding-left: 5px;
                    padding-right: 5px;
                    padding-top: 5px;
                    border: 7px solid #FFCC00;
                    float: left;
                }
                
                .styletwo {
                    padding-left: 5px;
                    padding-right: 5px;
                    padding-top: 5px;
                    border: 7px solid #CC0000;
                    float: right;
                }
    
                   